@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model == null)
{
    <div>
        <h2>Ocorreu um erro, Iremos corrigir em breve</h2>
    </div>
}
else
{
    <div>
        <h2>
            @Html.Raw(Model.Mensagem)
        </h2>
    </div>
}

