@model JornadaTrabalhoVMVAL
@using GestaoEmpresa.Web.Models.Enums;

<h4>Jornada de Trabalho</h4>
<hr />

<vc:Summary></vc:Summary>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateJornada">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdFuncionario" />

            <div class="form-group">
                <label asp-for="DiaInicio" class="control-label"></label>
                <select asp-for="DiaInicio" asp-items="Html.GetEnumSelectList<EDiaSemanaVM>()" class="form-control">
                    <option value="">Escolha o dia</option>
                </select>
                <span asp-validation-for="DiaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaFim" class="control-label"></label>
                <select asp-for="DiaFim" asp-items="Html.GetEnumSelectList<EDiaSemanaVM>()" class="form-control">
                    <option value="">Escolha o dia</option>
                </select>
                <span asp-validation-for="DiaFim" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HoraInicio" class="control-label"></label>
                <input asp-for="HoraInicio" class="form-control" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraFim" class="control-label"></label>
                <input asp-for="HoraFim" class="form-control" />
                <span asp-validation-for="HoraFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>
